:root {
  --fg: #000000;
  --bg: #f0f2f5;

  --ff: sans-serif;

  --main-width: 800px;
  --large-width: 800px;
  --medium-width: 720px;
  --small-width: 640px;

  --gap: 16px;
}


::selection {
  background: #bec6d1;
}


/* ------------------------------------------------------------ */


body {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, var(--main-width)) minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header "
    ".      main   .      "
    "footer footer footer ";
  gap: var(--gap);
  margin: 0;
  min-height: calc(100vh);
  color: var(--fg);
  background-color: var(--bg);
  font-family: var(--ff);
  font-size: 18px;
  line-height: 140%;
}


header {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--gap);
  border-bottom: 1px var(--fg) solid;
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--bg), transparent 75%) 0%,
    transparent 100%
  );
}

header h1 {
  margin: 0;
  max-width: none;
  text-decoration: none;
}


nav {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 8px auto 0px;
  white-space: nowrap;
}


main {
  grid-area: main;
}

main > *:first-child {
  margin-top: 24px;
}


footer {
  grid-area: footer;
  border-top: 1px var(--fg) solid;
  margin-top: 32px;
  padding: var(--gap);
}


/* ------------------------------------------------------------ */


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table,
.container {
  max-width: var(--medium-width);
  margin: 40px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

h1 {
  text-decoration: underline;
}


table {
  width: 100%;
}

th {
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  white-space: nowrap;
}

td {
  width: 100%;
}


a {
  color: var(--fg);
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}


a:visited {
  color: var(--fg);
}


img {
  display: block;
  width: 100%;
  max-width: var(--small-width);
  margin: 0 auto;
}

/* ------------------------------------------------------------ */


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  max-width: var(--medium-width);
  margin: auto;
}

@media only screen and (max-width: 560px) {
  .grid.sm {
    grid-template-columns: 1fr;
  }
}

/* ------------------------------------------------------------ */


.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  margin: 8px auto;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 16px;
}

.card img {
  display: block;
}


/* ------------------------------------------------------------ */


.large {
  max-width: var(--large-width);
}

.medium {
  max-width: var(--medium-width);
}

.small {
  max-width: var(--small-width);
}
