<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./resources/style.css">
  <meta name="description" context="We are a group of curious game developers making indie games shaped by curiosity and craftsmanship. We believe in making things brick by brick.">
  <link rel="canonical" href="https://hammerhead-studio.github.io/">
  <title>HAMMERHEAD Studio</title>
</head>
<body>
  <!--#include="_includes/header.html"-->
  <main>
    <!--#content-->
  </main>
  <!--#include="_includes/footer.html"-->
</body>
</html>
